body {
  background: #f7f8f8;
  color: #012242;
  text-align: center;
}

button {
  color: #0098fd;
  border: none;
  font-weight: 700;
  background: none;
}

button.fat {
  color: #ffffff;
  background: #0098fd;
}

#footer a {
  color: #012242;
  text-decoration: none;
}

.hide {
  display: none;
}
